/bin/
/bin/**
/dist/

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.out
*.coverprofile
coverage.html

/vendor/
*.cache
/pkg/mod/
/root/.cache/go-build

*.lock
/*.lock.json
/*.tgz
/*.zip

.vscode/
/.history/
.idea/
/*.iml
*.swp
*~
*~
*.sublime-workspace
*.sublime-project

.DS_Store
Thumbs.db
desktop.ini

*.log
tmp/
temp/
*.tmp

.env
.env.local
docker-compose.override.yml
